<p> Наверное так </p>

<p> <a href='/help'>Help</a> </p>
<%= link_to 'About', '/about' %>



<% # 'https://google.com/search' на любой сайт %>
<% #'/montenegro/terms' - https://rightway.by/spain -> https://rightway.by/montenegro/terms %>
<% #'terms'             - https://rightway.by/spain/ -> https://rightway.by/spain/terms %>